@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto.ttf');
}

:root {
  --base-black: #000;
  --base-white: #fff;
  --base-grey: #ccc;
  --base-red: #b10000;
  --base-blue: #007bff;
  --base-dark-blue: #0056b3;
  --base-green: rgba(0, 159, 0, 0.84);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

input, textarea {
  outline: none;
  resize: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}